# Precedence and arithmetic

In [1]:
a = 10
b = 5
c = a/b

In [2]:
print(c)

2.0

In [3]:
d = a // b # give integer

In [4]:
print(d)

2

In [5]:
2.0 // 1.4

1.0

In [6]:
print(2 ** 3) # powers

8

In [7]:
print( 3 ** 2)

9

In [8]:
 a = 20
 b = 10
c = 15 
d = 5
e = 2
f = (a+b) * c/d

In [9]:
print(f)

90.0

In [10]:
g = a + ( b * c)/d -e  #

In [11]:
print(g)
h = a + b*c**e
print(h)

48.0
2270

# multiple assigment

In [12]:
a = b = c = 15
x,y,z = 3, 5, "Blue"

In [13]:
print(a,b,c, sep = ",")
print(x,y,z,sep = ",")

15,15,15
3,5,Blue

# Use of + and *

In [14]:
x = "Python is "
y = "AWESOME "
print( x + y)

Python is AWESOME

In [15]:
a = " i am "
b = "very "
c = " Cool"
print(a + b*2 + c)

 i am very very  Cool

In [16]:
print( "it is " +  6 * ' Very ' + 'Python')

it is  Very  Very  Very  Very  Very  Very Python

# Use of \" , \n , \t

In [17]:
print("my father says \"honesty is best policy \"")

my father says "honesty is best policy "

In [18]:
print('this is rohan\'s dog ')

this is rohan's dog

In [19]:
print("this is rohan's dog ")

this is rohan's dog

In [20]:
print("a\tb")

a	b

In [21]:
print("G\nU")

G
U

# Comments

In [22]:
print("comments are : \n single line \n multiple line")

comments are :
 single line
 multiple line

In [23]:
# single line
# single line
# print(#comment)

In [24]:
''' multi ple
line 
comments '''
print('GU')

GU

In [25]:
""" MULTIPLE 
LINE 
COMMENT """
print("Geeta University ")

Geeta University

# id() function , ord() function , chr()

In [26]:
a = 89
id(a) # Give adres

140714636135976

In [27]:
b = "A"

ord(b)

65

In [28]:
c = 'B'

In [29]:
ord(c) # convert Single Charcter into ASCAII

66

In [30]:
# variable = statically 
# value in variable = heap

In [31]:
B = 66
chr(B) # convert ASCAII value into Character

'B'

# Control flow structure

In [32]:
#indentation
#if condition :
#    true
#else :
#    false

In [33]:
b = input("Enter Number:")
num = int(b)
if num%2 == 0:
    print("Even Number")
else:
    print("Odd number")

Enter Number: 90

Even Number

In [34]:
a = int(input("Enter Number:"))
if a%2 == 0:
    print("Even Number")
else:
    print("Odd number")

Enter Number: 45

Odd number

## Nested If Statement

In [35]:
citizen = input("Are you citizen of India Press y or n: ")
age = int(input("Enter your age"))
if citizen == 'y':
    if age >= 10:
        print("You can cast Vote")
    else :
        print("You can't Cast Vote")
else:
    print("You are not Citizen of india")

Are you citizen of India Press y or n:  34
Enter your age 4

You are not Citizen of india

# Assignment 1

In [36]:
year = int(input("Enter Year:"))
if year % 4 == 0 and year%100!=0:
    if year%400 == 0:
        print("leap year")
    else :
        print("Leap year")
else:
    print("Not leap year")

Enter Year: 43

Not leap year

In [ ]:
year=int(input("Enter the year:"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print("Leap year")
        else:
            print("Not a Leap year")
    else:
        print("Leap year")
else:
   print("Not a leap year")

# If elif statement

In [ ]:
num = int(input("Enter a number:"))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Number is neutral")
else:
    print("Negative number")

In [ ]:
# Grading System

In [ ]:
marks = int(input("Enter Mark of A subject"))
if marks >= 90 and marks <=100:
    print("A")
elif marks >= 80 and marks < 90:
    print("B")
elif marks >= 70 and marks < 80:
    print("C")
elif marks >= 60 and marks < 70:
    print("D")
elif marks >= 50 and marks < 60 :
    print("E") 
else:
    print("Bruh LOL")