# set

In [1]:
"""
set is used to store multiple data items in a single variable. The items stored in set are 
unordered and unindexed and unchangeable but we can add and remove the data items. 
"""

'\nset is used to store multiple data items in a single variable. The items stored in set are \nunordered and unindexed and unchangeable but we can add and remove the data items. \n'

# creating a set

In [2]:
#creating a set
company = {'tcs', 'Wipro', 'ibm', 'satyam', 'black rock', 'flip cart', 'Wipro'}

In [3]:
print(company)

{'Wipro', 'ibm', 'black rock', 'tcs', 'satyam', 'flip cart'}

# Unchangeable

In [4]:
# Unchangeable
set1[0] = 'amazon'

NameError: name 'set1' is not defined

In [ ]:
type(company)

In [ ]:
top_companies = set(('tcs', 'ibm', 'flip cart', 'Wipro', 'black rock', 'satyam'))

In [ ]:
print(top_companies)

In [ ]:
type(top_companies)

# adding data items in set

In [ ]:
#adding data items in set
company.add("google")

In [ ]:
print(company)

In [ ]:
company.add("miso", "facebook")

In [ ]:
rank = {1,2,3,4,5}

In [ ]:
company.update(rank)

In [ ]:
print(company)

In [ ]:
fruits = {'banana', 'apple'}
seasional_fruit = {'guava', 'grapes', 'mango'}

In [ ]:
fruits.update(seasional_fruit)

In [ ]:
print(fruits)

# removing items from set

In [ ]:
#removing items from set
fruits.remove("grapes")

In [ ]:
fruits

In [ ]:
fruits.remove("papaya")

# discard() - is used to remove the data items from list if the given data item is not
# present in list, it will not display any error

In [ ]:
fruits.discard("apple")

In [ ]:
fruits

In [ ]:
fruits.discard("papaya")

In [ ]:
fruits

In [ ]:
drop = fruits.pop()

In [ ]:
drop

In [ ]:
fruits

In [ ]:
print(company)

In [ ]:
drop2 = company.pop()

In [ ]:
drop2

In [ ]:
drop3 = company.pop()

In [ ]:
drop3

# join

In [ ]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8}
s3 = {8,9,10,11}

In [ ]:
s1.union(s2)

In [ ]:
s1.union(s2,s3)

In [ ]:
set1 = {'nitin', 'prince', 'sahil', 'kanika'}
set2 = {'uttam', 'vivek', 'jatin', 'nitin'}
set3 = {'kanika', 'manvi', 'garima', 'vivek', 'nitin'}

In [ ]:
name = set1 | set2 | set3

In [ ]:
print(name)

In [ ]:
#intersection
set1.intersection(set2)

In [ ]:
set2.intersection(set3)

In [ ]:
common_name = set1 & set2 & set3

In [ ]:
common_name

# difference

In [ ]:
#difference
dif = set1 - set2

In [ ]:
print(dif)